@use '../../styles/colors';

.add-book {
  display: flex;
  align-items: center;
  gap: 2.125rem;

  &__input {
    padding: 0.8rem 1rem;
    border: 1px solid colors.$color-white-tertiary;
    border-radius: 4px;

    &:focus {
      outline: none;
    }

    &--title {
      width: 55%;
    }

    &--category {
      font-family: inherit;
      width: 24%;
      color: colors.$color-grey;
    }
  }

  &__btn {
    flex: 1;
  }
}
